* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

.container {
    max-width: 1180px;
    margin: 0 auto;
}

header {
    width: 100%;
    height: 100vh;
    background-color: #DF0031;
}

nav {
    height: 15vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    padding: 0 100px 0 100px;
}

nav .main-nav {
    list-style-type: none;
}

nav .main-nav li {
    display: inline-block;
    margin-left: 20px;
}

nav .main-nav li:first-child {
    margin-left: 0;
}

nav .main-nav li a {
    color: #000;
    text-decoration: none;
    display: inline-block;
    text-transform: uppercase;
    padding: 0 10px;
    font-weight: 600;
    transition: 0.5s;
}

nav .main-nav li a.active {
    color: #DF0031;
}

nav .main-nav li a:hover {
    color: #DF0031;
}

.hero-content {
    height: calc(100vh - 15vh);
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-content .hero-text {
    width: 40%;
    padding-left: 80px;
}

.hero-content .hero-text h1 {
    color: #fff;
}

.hero-content .hero-text p {
    color: #ff8698;
}

.hero-content .hero-img {
    width: 60%;
}

.hero-content .hero-img img {
    width: 90%;
}

.hero-text .main-btn {
    color: #fff;
    font-weight: 700;
    margin-top: 10px;
    padding: 10px 50px;
    border: 1px solid #fff;
    transition: 0.5s;
}

.hero-text .main-btn:hover {
    background-color: #fff;
    color: #DF0031;
}

/*-------- About section start here --------*/

.about-sec {
    width: 100%;
    height: 100vh;
    background-color: #fff;
}

.about-sec .about-title {
    text-align: center;
    padding: 40px 0;
}


.about-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
}

.about-container .about-content {
    width: 60%;
}

.about-container .about-content h6 {
    padding: 10px 0;
    font-weight: 700;
}

.about-container .about-content  p {
    color: #afafaf;
}

.about-container .about-content span {
    font-weight: 600;
}

.about-container .about-content .about-btn {
    margin-top: 30px;
    padding: 10px 40px;
    color: #DF0031;
    border: 2px solid #DF0031;
    transition: 0.5s;
}

.about-container .about-content .about-btn:hover {
    color: #fff;
    background-color: #DF0031;
}

.about-container .about-img-sec {
    width: 40%;
    display: flex;
    justify-content: flex-end;
}

.about-container .about-img-sec img {
    width: 80%;
    border-radius: 50%;
}

/*-------- About section end here --------*/

/*-------- Service section start here --------*/

.service-sec {
    width: 100%;
    height: 120vh;
    background-color: #efefef;
}

.service-sec h2 {
    font-size: 40px;
    text-align: center;
    padding: 50px 0;
    text-transform: uppercase;
    font-weight: 400;
}

.service-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.box-body {
    text-align: center;
}

.box-body .icon {
    width: 90px;
    height: 90px;
    margin: 20px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: 2px solid #DF0132;
}

.box-body .icon i.fa {
    color: #DF0132;
    font-size: 3em;
    display: block;
}

.service-details h4 {
    font-size: 20px;
}

/*-------- Service section end here --------*/